<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/styles/normal.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">



<title> Clear Booking | A wordpress plugin </title>


</head>

<body>

	<header class="container-fluid">

<a > <img src="/images/logo.png" alt="Clear Booking Logo" class="company_logo" onclick="downLoad()">

<p class="resume_link" > Download version 1 </p> </a> 
	</header>

	<section>

<div class="slideshow-container">

  <div class="mySlides slide_fade">
    
    <img src="/images/home_page_image.png"  alt="Blue and yellow smoke back ground" class="slider_image_1" />
    <div > <p class="text"></p> </div>
     
      <div > <p class="text_subtitle"> <p> </div>
  
   

  </div>

</div>

</section>

<section class="container-fluid">


  <h2> Reserve is a wordpress plugin developed by Unified Digital Media</h2>


  <div class="row">
  
    <div class="col-sm-6" >


<p> Booking / Reservation system by Unified Digital Media is designed for travel accomodation provider that want to offer their guest more convenience when making a booking. The booking / reservation system allows travellers to choose their rooms as well as available promotional offers and amenities that would make their stay more comfortable. Whilst allow easy checkout using the PayPal API. </p>

&nbsp;
<p>Reserve creates an easy to manage booking for guests as all their choices are bundled into one convient location and totalled, giving them full transparency of their booking. Using this WordPress Booking / Reservation plugin, lets travel accomodation providers you can add a places of interest filter and map on any page. 


</p>
&nbsp;
<p>What Reserve can offer:

</p>



<p>A new and exciting reservation system enabling itemised billing, promotions, amenties and easy to use PayPal checkout. </p>




    </div>
  
    <div class="col-sm-6" >


<p>Here are just some of the plugins great features:</p>

<ul class="management_process"> 

<li> PayPal payment gateway </li>

<li> Stand alone reservation , booking details, booking confirmation , thank you and booking cancellation pages </li>

<li> Reservation form on anypage using wordpress shortcode </li>

<li> Automatic reservation dates validation </li>

<li> Itemised billing </li>

<li>Tax calculations and sub-totals including discounts and amenties  </li>


</ul>




    </div>
  
  </div>




</section>

<section class=" container-fluid">

<div class="row">

  <div class="col-sm-4">

  	<div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/calendar.png" onclick="showModal(this)" alt="/images/calendar-large.png" class="dedicated_support_image">
    <div class="w3-container">
    <h3> BOOKING FORM AND CALENDAR </h3> 

    <p>Validated booking dates and one year calendar </p>
    
    </div>
    </div>
    </div>


</div>

  <div class="col-sm-4">
    <div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/itemised-billing.png" onclick="showModal(this)" alt="/images/itemised-billing-large.png" class="professional_service_image">
    <div class="w3-container">
    <h3> ITEMISED BILLING </h3> 

    <p>Transparent billing of rooms, offers and amentis choosen with built in tax calulations and sub totals.</p>
    
    </div>
    </div>
    </div></div>
  
 
  <div class="col-sm-4"><div class="w3-third">
    <div class="w3-card-2">
    <img src="/images/pay-pal.png" onclick="showModal(this)" alt="/images/pay-pal-large.png" class="powerful_features_image">
    <div class="w3-container">
    <h3> PAY PAY GATEWAY</h3> 

    <p>Easy to use , familar an convenient payment gateway using Pay Pal Api to accept debit and credit cards</p>
    
    </div>
    </div>
    </div></div>

</div>


</section>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
<footer>
<div class="row">

  <div class="col-sm-6">  

  	<h6 class="footer_title"> ABOUT US</h6>

<p >Unified Digital Media London is a IT service provider founded by Machel Slack MSc Bsc (Hons) in 2012. Graduating from Kingston University (UK) in 2008, Machel Slack visited Jamaica, where he successfully implemented an IT system within the University of the West Indies' Department of Educational Studies.</p>

<p>There he was responsible for a group of staff sharing digital technology knowledge with faculty and IT managers to ensure streamlining of students’ cashless transactions, as part of the University’s strategic objective. Having completed his stint within that Department, he was asked to act as a liaison person, carrying out analytical work designing and developing a new system with software vendors. That work resulted in the implementation of an IT system within one of the University's commercial entities.</p>

<p >Later he returned to the UK, where he continued his education with Kingston University (UK). Having completed his Masters programme, he went on to establish Unified Digital Media.</p>

<p>UK MOBILE : +447880900087</p>
<p>EMAIL : <a href="mailto:machel.slack@unifieddigitalmedia.co.uk"> machel.slack@unifieddigitalmedia.co.uk </a> </p>

</div>

  <div class="col-sm-6" ng-app="unifieddigitalmedia" ng-controller="form_controller">  

<h6 class="footer_title"> CONTACT US</h6>


<form class="form-horizontal" role="form" name="contactForm" novalidate data-ng-model="contactForm">

  <div class="form-group">
 
  
    <div class="col-sm-12">
      <input type="text" class="form-control" id="name" placeholder="Your name (required)" required data-ng-model="name" name="name"> 
    </div>




  </div>
  <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="email" class="form-control" id="email" placeholder="Your email (required)" required name="email" data-ng-model="email">
    </div>

 


  </div>
    <div class="form-group">
   
    <div class="col-sm-12"> 
      <input type="text" class="form-control form_field" id="subject" placeholder="Subject" data-ng-model="subject">
    </div>
  </div>

  
<div class="form-group">
   
    <div class="col-sm-12"> 
     <textarea class="form-control" rows="5" id="message" placeholder="Message" data-ng-model="message"></textarea>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <button type="button" class="btn btn-default" id="send_button" data-ng-click="contact_form_submission()" 

       data-ng-disabled="contactForm.name.$invalid || contactForm.email.$invalid"

      > Send</button>
    

    </div>

  </div>

</form>


   </div>

</div>

</footer>

<section class="copywright">

<p>Developed by Unified Digital Media - </p>

	</section>

<script src="/jquery/dist/jquery.min.js" ></script>

<script src="/scripts/app.js" ></script>

<script src="/scripts/normal.js" ></script>

<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>

<script src="/angular/angular.min.js" ></script>

<script src="/angular-resource/angular-resource.min.js" ></script>


<script type="text/javascript">


var app = angular.module('unifieddigitalmedia', ['ngResource']);


app.factory('Form_Service', ['$resource', function($resource) {


var resource = $resource('http://localhost:3000/api/queryLog/:name:email:subject:message',{name:'@name',email:'@email',subject:'@subject',message:'@message'});

return resource;


}]);


app.controller('form_controller', function($scope,Form_Service) {


$scope.contact_form_submission = function () {





var log = Form_Service.save({name:$scope.name,email:$scope.email,subject:$scope.subject,message:$scope.message}, function() {


  
  });


}



});




</script>





</body>

</html>